{% extends "base.html" %}
{% block content %}
<div class="row">
<div class="purchases span12">
    <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Purchase date</th>
                <th>Product</th>
                <th>Category</th>
                <th>Price</th>
                <th>Informant</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Purchase date</th>
                <th>Store</th>
                <th>Category</th>
                <th>Price</th>
                <th>Informant</th>
            </tr>
        </tfoot>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{item.date}}</td>
                <!-- Dirty - just to show off. Images will be later removed -->
                <td class="image" style="background-image: url(https://d2i1ofz69vk5mz.cloudfront.net/images/entries/130x130/{{item.ean}}_0.png)">
                    <a href="http://www.foodie.fi/entry/{{item.ean}}" target="_blank">{{item.name}}</a>
                </td>
                <td>{{item.category}}</td>
                <td>{{item.price}} €</td>
                <td>{{item.email}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endblock %}
</script>
