{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="files span12">
    <div id="chartdiv"></div>
    <div id="info">
      <div id="instructions"><!-- <em>Klikkaa kaaviossa nähdäksesi tarkemmat ravintotiedot kyseiseltä kuukaudelta.<br/> </em> --></div>
      <div class="col-md-15" id="panel1"></div>
      <div class="col-md-15" id="panel2"></div>
      <div class="col-md-15" id="panel3"></div>
      <div class="col-md-15" id="panel4"></div>
      <div class="col-md-15" id="panel5"></div>
    </div>
  </div>
</div>
{% endblock %}
{% block page-scripts %}
<script type="text/javascript">
  var secret = atob(getURLParameter('secret'));
  var id = secret ? secret : "id1";
  var chart = AmCharts.makeChart("chartdiv", {
    "type": "serial",
    "theme": "light",
    "legend": {
      "valueText": "[[percents]]",
      "valueFunction": formatLegendValue,
      "precision": 1,
      "markerBorderColor": "#000",
      "markerBorderAlpha": 0.1,
      "valueWidth": 30
    },
    "numberFormatter": {
      "precision": 0,
      "thousandsSeparator": ""
   },
    "balloon": {
      horizontalPadding: 8,
      verticalPadding: 1,
      pointerWidth: 10,
      fillAlpha: 0.8
    },
    "dataLoader": {
      "url": "/api/nutrition/"+id+"@ostosdata.oulu.fi/month",
      "format": "json",
      "showCurtain": true,
      "showErrors": true,
      "async": true,
      "postProcess": function(data, options) {
        var months_fi = [ "Tammi","Helmi","Maalis","Huhti","Touko","Kesä","Heinä","Elo","Syys","Loka","Marras","Joulu" ];
        if (data === null) {
          data = [];
          options.chart.addLabel("50%", "50%", "Ei ostostietoja esitettäväksi");
        }
        else
        {
          for (i = 0; i<data.length; ++i) {
            var d = new Date(data[i].date);
            data[i].date = months_fi[d.getMonth()] + "<br>" + d.getFullYear();
          }
        }

        return data;
      }
    },
    "dataProvider": [],
    "valueAxes": [{
      "id":"v1",
      "axisColor": "green",
      "axisThickness": 2,
      "gridAlpha": 0.5,
      "axisAlpha": 1,
      "position": "left",
      "title": "grammaa",
    }, {
      "id":"v2",
      "stackType": "regular",
      "axisColor": "red",
      "axisThickness": 2,
      "gridAlpha": 0,
      "axisAlpha": 1,
      "position": "right",
      "title": "kJ"
    }, {
      "id":"v3",
      "stackType": "regular",
      "axisColor": "#aa0",
      "axisThickness": 2,
      "gridAlpha": 0,
      "offset": 0,
      "axisAlpha": 1,
      "position": "right",
      "title": "euroa",
      "unit": " €"
    }],

    // GRAPHS

    "graphs": [{
      "valueAxis": "v1",
      "balloonText": "<span style='font-size:12px'>Hyvää rasvaa <b>[[value]]</b> g</span>",
      "fillAlphas": 0.8,
      "type": "column",
      "columnWidth": 0.9,
      "color": "orange",
      "title": "Hyvät rasvat*", // Rasva (tyydyttymättömät)
      "valueField": "fat"
    }, {
      "valueAxis": "v1",
      "balloonText": "<span style='font-size:12px'>Huonoa rasvaa <b>[[value]]</b> g</span>",
      "fillAlphas": 0.8,
      "type": "column",
      "columnWidth": 0.9,
      "color": "red",
      "title": "Huonot rasvat*", // Rasva (tyydyttyneet)
      "valueField": "fat_saturated",
      "hidden": true
    }, {
      "valueAxis": "v1",
      "balloonText": "<span style='font-size:12px'>Hiilihydraatteja <b>[[value]]</b> g</span>",
      "fillAlphas": 0.8,
      "type": "column",
      "columnWidth": 0.9,
      "color": "#aa0",
      "title": "Hiilihydraatit",
      "valueField": "carb",
    }, {
      "valueAxis": "v1",
      "balloonText": "<span style='font-size:12px'>Kuituja <b>[[value]]</b> g</span>",
      "fillAlphas": 0.8,
      "type": "column",
      "columnWidth": 0.9,
      "color": "#aa0",
      "title": "Kuidut",
      "valueField": "fiber",
    }, {
      "valueAxis": "v1",
      "balloonText": "<span style='font-size:12px'>Sokeria <b>[[value]]</b> g</span>",
      "unit": "g",
      "fillAlphas": 0.8,
      "type": "column",
      "color": "#aa0",
      "title": "Sokeri",
      "valueField": "sugar",
      "hidden": true
    }, {
      "valueAxis": "v1",
      "balloonText": "<span style='font-size:12px'>Proteiineja <b>[[value]]</b> g</span>",
      "fillAlphas": 0.8,
      "type": "column",
      "columnWidth": 0.9,
      "color": "#aa0",
      "title": "Proteiinit",
      "valueField": "prot",
      "hidden": true
    }, {
      "valueAxis": "v3",
      "balloonText": "<span style='font-size:12px'>Hinta <b>[[value]]</b> €</span>",
      "fillAlphas": 0,
      "type": "line",
      "color": "yellow",
      "lineColor": "yellow",
      "lineThickness": 3,
      "lineAlpha": 0.8,
      "bullet": "round",
      "bulletColor": "#aa0",
      "bulletAlpha": 0.8,
      "bulletBorderThickness": 2,
      "bulletSize": 10,
      "bulletBorderAlpha": 1,
      "useLineColorForBulletBorder": true,
      "title": "Hinta",
      "valueField": "price",
    }],
    "chartScrollbar": { "enabled": false },
    "chartCursor": {
      "cursorPosition": "middle",
      "leaveAfterTouch": true
    },
    "categoryField": "date",
    "categoryAxis": {
      "parseDates": false,
      "axisColor": "#DADADA",
      "minorGridEnabled": true,
    },
    "export": {
      "enabled": true,
      "position": "bottom-right"
    }
  });

  chart.addListener("dataUpdated", zoomChart);
  chart.addListener("clickGraphItem", clickGraphItem);
  chart.addListener("clickGraph", clickGraphItem);
  $("#chartdiv").on("click", clickGraphItem);
  zoomChart();
  showTotals();

  function showTotals() {
    $.getJSON( "/api/nutrition/"+id+"@ostosdata.oulu.fi"+"/total", function( data ) {
      var total = data[0];
      var days = total.days;
      var subjective_consumption = { "id1":1870,"id2":3269,"id3":2000+2969,"id4":2000+2969,"id5":2117,"id6":2797,"id7":3058,"id8":2157 };
      var energy_consumption = subjective_consumption[id];

      $("#panel1").empty();
      $("#panel2").empty();
      $("#panel3").empty();
      $("#panel4").empty();
      $("#panel5").empty();

      $("<p>Ostosten ravintoarvot jaettuna per päivä (" + total.days + " päivää)</p>").appendTo("#instructions");

      $("<span>Rasvat:	" + totalString(total.fat/days, energy_consumption*0.25/9, energy_consumption*0.4/9, "g/pv") +
              "Huonot rasvat*: " + totalString(total.fat_saturated/days, 0, energy_consumption*0.1/9, "g/pv")).appendTo("#panel1");
      $( "<span><br/>*) Hyvät rasvat sisältävät tyydyt&shy;tymättömät rasvahapot ja huonot tyydyttyneet rasvat.</span>").appendTo("#panel1");

      $("<span>Hiilihydraatit: " + totalString(total.carb/days, energy_consumption*0.45/4, energy_consumption*0.60/4, "g/pv")).appendTo("#panel2");

      $("<span>Kuidut: " + totalString(total.fiber/days, 25, 35, "g/pv") +
              "Proteiinit: " + totalString(total.prot/days, energy_consumption*0.1/4, energy_consumption*0.2/4, "g/pv")).appendTo("#panel3");

      $("<span>Sokeri: " + totalString(total.sugar/days, 0, energy_consumption*0.1/2, "g/pv")).appendTo("#panel4");

      $("<span>Hinta: " + totalString(total.price/days, 0, 0, "€/pv" ) +
              "Paino: " + totalString(total.weight/days, 0, 0, "g/pv")).appendTo("#panel5");
    });
  }

  function totalString( value, min, max, unit ) {
    var value_rounded;

    if (value < 2)
      value_rounded = Math.round(value*10)/10;
    else
      value_rounded = Math.round(value);

    if (max)
      return "<span class='" + (value < min ? "yellow" : value < max ? "green" : "red") + "'>" + value_rounded + " " + unit + "</span><br/>(suositus " + Math.round(min) + "-" + Math.round(max) + " " + unit + ")<br/><br/>";
    else
      return "<strong>" + value_rounded + " " + unit + "</strong><br/><br/>";

  }

  function postProcess(chartData, config) {
    alert("Got " + chartData.length);
    return chartData;
  }

  function postProcess(chartData, config) {
    alert("Got " + chartData.length);
    return chartData;
  }

  function zoomChart(){
    chart.zoomToIndexes(chart.dataProvider.length - 20, chart.dataProvider.length - 1);
  }

  function clickGraphItem(e)
  {
    var i = chart.chartCursor.index;
    var clickedDate = chart.categoryAxis.data[i].dataContext.month;
    var dateCategory = chart.categoryAxis.data[i].dataContext.date;
    var category = dateCategory.replace("<br>", " ").toLowerCase();

    $.getJSON( "/api/nutrition/"+id+"@ostosdata.oulu.fi/date/" + clickedDate + "/fiber", function( data ) {
      var items = [];

      // fat
      $.each( sortJsonField(data, "fat"), function( index, elem ) {
        if(elem.fat > 0)
          items.push( "<tr><td class='"+elem.category+"'>" + elem.category + "</td>" +
                     "<td style='text-align:right' class='"+elem.fat+"'>" + elem.fat + "&nbsp;g</td>" +
                     "</tr>" );
      });

      $("#instructions").empty();
      $("#panel1").empty();

      $( "<p>Rasvaisimmat ostokset ("+category+"):</p>" ).appendTo("#panel1");
      $( "<table/>", {
        "class": "table",
        html: items.join( "" )
      }).appendTo( "#panel1" );

      // fat_saturated
      items = [];
      $.each( sortJsonField(data, "fat_saturated"), function( index, elem ) {
        if(elem.fat_saturated > 0)
          items.push( "<tr><td class='"+elem.category+"'>" + elem.category + "</td>" +
                     "<td style='text-align:right' class='"+elem.fat+"'>" + elem.fat_saturated + "&nbsp;g</td>" +
                     "</tr>" );
      });

      $( "<p style='color:orange'>Huonoa rasvaa*:</p>" ).appendTo("#panel1");
      $( "<table/>", {
        "class": "table",
        html: items.join( "" )
      }).appendTo( "#panel1" );
      $( "<span><br/>*) Hyvät rasvat sisältävät tyydyt&shy;tymättömät rasvahapot ja huonot tyydyttyneet rasvat.</span>").appendTo("#panel1");

      // carb
      items = [];
      $.each( sortJsonField(data, "carb"), function( index, elem ) {
        if(elem.carb > 0)
          items.push( "<tr><td class='"+elem.category+"'>" + elem.category + "</td>" +
                     "<td style='text-align:right' class='"+elem.carb+"'>" + elem.carb + "&nbsp;g</td>" +
                     "</tr>" );
      });

      $("#panel2").empty();

      $( "<p>Eniten hiilihydraatteja ("+category+"):</p>" ).appendTo("#panel2");
      $( "<table/>", {
        "class": "table",
        html: items.join( "" )
      }).appendTo( "#panel2" );

      // fiber
      items = [];
      $.each( sortJsonField(data, "fiber"), function( index, elem ) {
        if(elem.fiber > 0)
          items.push( "<tr><td class='"+elem.category+"'>" + elem.category + "</td>" +
                     "<td style='text-align:right' class='"+elem.fiber+"'>" + elem.fiber + "&nbsp;g</td>" +
                     "</tr>" );
      });

      $("#panel3").empty();

      $( "<p>Eniten kuituja ("+category+"):</p>" ).appendTo("#panel3");
      $( "<table/>", {
        "class": "table",
        html: items.join( "" )
      }).appendTo( "#panel3" );

      // prot
      items = [];
      $.each( sortJsonField(data, "prot"), function( index, elem ) {
        if(elem.prot > 0)
          items.push( "<tr><td class='"+elem.category+"'>" + elem.category + "</td>" +
                     "<td style='text-align:right' class='"+elem.prot+"'>" + elem.prot + "&nbsp;g</td>" +
                     "</tr>" );
      });

      $( "<p style='color:#2f4074'>Eniten proteiineja:</p>" ).appendTo("#panel3");
      $( "<table/>", {
        "class": "table",
        html: items.join( "" )
      }).appendTo( "#panel3" );

      // sugar
      items = [];
      $.each( sortJsonField(data, "sugar"), function( index, elem ) {
        if(elem.sugar > 0)
          items.push( "<tr><td class='"+elem.category+"'>" + elem.category + "</td>" +
                     "<td style='text-align:right' class='"+elem.sugar+"'>" + elem.sugar + "&nbsp;g</td>" +
                     "</tr>" );
      });

      $("#panel4").empty();

      $( "<p>Sokerisimmat ("+category+"):</p>" ).appendTo("#panel4");
      $( "<table/>", {
        "class": "table",
        html: items.join( "" )
      }).appendTo( "#panel4" );

      // price
      items = [];
      $.each( sortJsonField(data, "price"), function( index, elem ) {
        if(elem.price > 0)
          items.push( "<tr><td class='"+elem.category+"'>" + elem.category + "</td>" +
                     "<td style='text-align:right' class='"+elem.price+"'>" + elem.price + "&nbsp;€</td>" +
                     "</tr>" );
      });

      $("#panel5").empty();

      $( "<p>Hintavimmat ("+category+"):</p>" ).appendTo("#panel5");
      $( "<table/>", {
        "class": "table",
        html: items.join( "" )
      }).appendTo( "#panel5" );

      $("<a/>" , { href: "#", html: ">> Näytä kaikki arvot" }).on("click", function () { $("#info tr").show(); $(this).hide(); }).appendTo("#panel5");
      $("<br/>").appendTo("#panel5");
      $("<a/>" , { href: "#", html: ">> Päivittäiset ravintoarvot" }).on("click", showTotals).appendTo("#panel5");

      $("#info tr").hide();
      $("#info tr:nth-child(-n+5)").show();

    });
  }

  $.date = function(dateObject) {
    var d = new Date(dateObject);
    var day = d.getDate();
    var month = d.getMonth() + 1;
    var year = d.getFullYear();
    var date = day + "." + month + "." + year;

    return date;
  };

  function formatLegendValue(graphDataItem, valueString){
    var value = Number(valueString);

    if(value == 0 || value == 100)
      valueString = "";
    else if(value < 1)
      valueString = Math.round(value*10)/10 + "%";
    else
      valueString = Math.round(value) + "%";

    return valueString;
  }

  function sortJsonField(json, field) {
    json.sort(function (a,b) {
      return a[field] > b[field] ? -1 : 1;
    });
    return json;
  }

  $(document).ready(function() {
    setTimeout(function(){
      $( "a:contains('JS chart')" ).fadeOut();
    }, 400);
  } );

</script>

{% endblock %}
