{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="files span12">
    <div id="chartdiv"></div>
    <div id="info">
      <div id="panel1"><em>Klikkaa kaaviossa nähdäksesi tarkemmat ravintotiedot kyseiseltä kuukaudelta.</em></div>
      <div id="panel2"><em></em></div>
      <div id="panel3"><em></em></div>
      <div id="panel4"><em></em></div>
      <div id="panel5"><em></em></div>
    </div>
  </div>
</div>
{% endblock %}
{% block page-scripts %}
<script type="text/javascript">
  var id = (window.location.hash) ? window.location.hash.substring(1) : "id1";
  //    var chartData = generateChartData();
  var chart = AmCharts.makeChart("chartdiv", {
    "type": "serial",
    "theme": "light",
    "legend": {
      //"useGraphSettings": true,
      "valueText": "[[value]]",
      "markerSize": 10,
      "valueWidth": 30
    },
    "numberFormatter": {
      "precision": 0,
      "decimalSeparator": ",",
      "thousandsSeparator": ""
   },
    "balloon": {
      horizontalPadding: 8,
      verticalPadding: 1,
      pointerWidth: 10,
      fillAlpha: 0.8
    },
    "dataLoader": {
      "url": "/api/nutrition/"+id+"@ostosdata.oulu.fi/month",
      "format": "json",
      "showCurtain": true,
      "showErrors": true,
      "async": true,
      "postProcess": function(data, options) {
        var months_fi = [ "Tammi","Helmi","Maalis","Huhti","Touko","Kesä","Heinä","Elo","Syys","Loka","Marras","Joulu" ];
        if (data === null) {
          data = [];
          options.chart.addLabel("50%", "50%", "Ei ostostietoja esitettäväksi");
        }
        else
        {
          for (i = 0; i<data.length; ++i) {
            var d = new Date(data[i].date);
            data[i].date = months_fi[d.getMonth()] + "<br>" + d.getFullYear();
          }
        }

        return data;
      }
    },
    "dataProvider": [],
    "valueAxes": [{
      "id":"v1",
      //"stackType": "regular",
      "axisColor": "green",
      "axisThickness": 2,
      "gridAlpha": 0.5,
      "axisAlpha": 1,
      "position": "left",
      "title": "g/100 g",
      /*            "gridCount": 10,
              "autoGridCount": false,
              "minimum": 0,
              "maximum": (id == "id7" ? 50 : (id == "id5" ? 120 : 70)),
              "strictMinMax": true */
    }, {
      "id":"v2",
      "stackType": "regular",
      "axisColor": "red",
      "axisThickness": 2,
      "gridAlpha": 0,
      "axisAlpha": 1,
      "position": "right",
      "title": "kJ"
    }, {
      "id":"v3",
      "stackType": "regular",
      "axisColor": "#aa0",
      "axisThickness": 2,
      "gridAlpha": 0,
      "offset": 0,
      "axisAlpha": 1,
      "position": "right",
      "title": "euroa",
      //"totalText": "[[total]] e",
      "unit": " €"
    }],

    // GRAPHS

    "graphs": [{
      "valueAxis": "v1",
      "balloonText": "<span style='font-size:12px'>Hyvää rasvaa <b>[[value]]</b> g</span>",
      "fillAlphas": 0.8,
      "type": "column",
      "columnWidth": 0.9,
      "color": "orange",
      //            "lineColor": "green",
      //            "lineThickness": 2,
      //            "bullet": "round",
      //            "bulletBorderThickness": 2,
      //            "hideBulletsCount": 60,
      "title": "Hyvät rasvat", // Rasva (tyydyttymättömät)
      "valueField": "fat"
    }, {
      "valueAxis": "v1",
      "balloonText": "<span style='font-size:12px'>Huonoa rasvaa <b>[[value]]</b> g</span>",
      "fillAlphas": 0.8,
      "type": "column",
      "columnWidth": 0.9,
      "color": "red",
      //            "lineColor": "green",
      //            "lineThickness": 2,
      //            "bullet": "round",
      //            "bulletBorderThickness": 2,
      //            "hideBulletsCount": 60,
      "title": "Huonot rasvat", // Rasva (tyydyttyneet)
      "valueField": "fat_saturated",
      "hidden": true
    }, {
      "valueAxis": "v1",
      "balloonText": "<span style='font-size:12px'>Hiilihydraatteja <b>[[value]]</b> g</span>",
      "fillAlphas": 0.8,
      "type": "column",
      "columnWidth": 0.9,
      "color": "#aa0",
//      "newStack": true,
      //            "lineColor": "#aa0",
      //       	    "lineThickness": 2,
      //            "bullet": "round",
      //            "bulletBorderThickness": 2,
      //            "hideBulletsCount": 60,
      "title": "Hiilihydraatit",
      "valueField": "carb",
      //           "fillAlphas": 0.3
    }, {
      "valueAxis": "v1",
      "balloonText": "<span style='font-size:12px'>Kuituja <b>[[value]]</b> g</span>",
      "fillAlphas": 0.8,
      "type": "column",
      "columnWidth": 0.9,
      "color": "#aa0",
//      "newStack": true,
      //            "lineColor": "#aa0",
      //       	    "lineThickness": 2,
      //            "bullet": "round",
      //            "bulletBorderThickness": 2,
      //            "hideBulletsCount": 60,
      "title": "Kuidut",
      "valueField": "fiber",
      //           "fillAlphas": 0.3
    }, {
      "valueAxis": "v1",
      "balloonText": "<span style='font-size:12px'>Sokeria <b>[[value]]</b> g</span>",
      "unit": "g",
      "fillAlphas": 0.8,
      "type": "column",
      "color": "#aa0",
//      "newStack": true,
      //            "lineColor": "#aa0",
      //       	    "lineThickness": 2,
      //            "bullet": "round",
      //            "bulletBorderThickness": 2,
      //            "hideBulletsCount": 60,
      "title": "Sokeri",
      "valueField": "sugar",
      "hidden": true
      //           "fillAlphas": 0.3
    }, {
      "valueAxis": "v1",
      "balloonText": "<span style='font-size:12px'>Proteiineja <b>[[value]]</b> g</span>",
      "fillAlphas": 0.8,
      "type": "column",
      "columnWidth": 0.9,
      "color": "#aa0",
//      "newStack": true,
      //            "lineColor": "#aa0",
      //       	    "lineThickness": 2,
      //            "bullet": "round",
      //            "bulletBorderThickness": 2,
      //            "hideBulletsCount": 60,
      "title": "Proteiinit",
      "valueField": "prot",
      "hidden": true
      //           "fillAlphas": 0.3
    }, {
      "valueAxis": "v3",
      "balloonText": "<span style='font-size:12px'>Hinta <b>[[value]]</b> €</span>",
      "fillAlphas": 0,
      "type": "line",
      "color": "yellow",
      "lineColor": "yellow",
      "lineThickness": 3,
      "lineAlpha": 0.8,
      "bullet": "round",
      "bulletColor": "#aa0",
      "bulletAlpha": 0.8,
      "bulletBorderThickness": 2,
      "bulletSize": 10,
      "bulletBorderAlpha": 1,
      "useLineColorForBulletBorder": true,
      //            "hideBulletsCount": 60,
      "title": "Hinta",
      "valueField": "price",
      //            "fillAlphas": 0.6
    } /*, {
      "valueAxis": "v2",
      "balloonText": "<span style='font-size:12px'>Energiaa <b>[[value]]</b> kJ</span>",
      "fillAlphas": 0,
      "type": "line",
      "color": "green",
      "lineColor": "green",
      "lineThickness": 3,
      "lineAlpha": 0.8,
      "bullet": "square",
      "bulletColor": "#4a4",
      "bulletAlpha": 0.8,
      "bulletBorderThickness": 2,
      "bulletSize": 10,
      "bulletBorderAlpha": 1,
      "useLineColorForBulletBorder": true,
      //            "hideBulletsCount": 60,
      "title": "Energia",
      "valueField": "energy",
      //            "fillAlphas": 0.6
    } */],
    "chartScrollbar": { "enabled": false },
    "chartCursor": {
      "cursorPosition": "middle",
      "leaveAfterTouch": true
    },
    "categoryField": "date",
    "categoryAxis": {
      "parseDates": false,
      "axisColor": "#DADADA",
      "minorGridEnabled": true,
      "listeners": [{"event":"rollOverItem", "method":clickGraph}],
      /*            "guides": [{
                  date: "Oct 10, 2015",
                  toDate: "Dec 10, 2015",
                  lineColor: "#CC0000",
                  lineAlpha: 1,
                  fillAlpha: 0.2,
                  fillColor: "#CC0000",
                  dashLength: 2,
                  inside: true,
                  labelRotation: 90,

                  label: "kuitteihin perustuva data"
              }] */
    },
    "export": {
      "enabled": true,
      "position": "bottom-right"
    }
  });

  chart.addListener("dataUpdated", zoomChart);
  chart.addListener("clickGraphItem", clickGraphItem);
  chart.addListener("clickGraph", clickGraphItem);
  //chart.addListener("rollOverGraphItem", clickGraph);
  $("#chartdiv").on("click", clickGraphItem);
  zoomChart();

  function postProcess(chartData, config) {
    alert("Got " + chartData.length);
    return chartData;
  }

  // generate some random data, quite different range
  function generateChartData() {
    var chartData = [];
    var firstDate = new Date();
    var promise = $.Deferred();

    firstDate.setDate(firstDate.getDate() - 100);

    $.getJSON( "/api/nutrition/"+id+"@ostosdata.oulu.fi", function( data ) {
      var items = [];
      $.each( data, function( index, elem ) {
        chartData.push({
          date: elem.date,
          fat: elem.fat,
          energy: elem.energy,
          carb: elem.carb
        });
      });

      //alert("Generated " + chartData.length);

    });

    /*
          for (var i = 0; i < 100; i++) {
              // we create date objects here. In your data, you can have date strings
              // and then set format of your dates using chart.dataDateFormat property,
              // however when possible, use date objects, as this will speed up chart rendering.
              var newDate = new Date(firstDate);
              newDate.setDate(newDate.getDate() + i);

              var visits = Math.round(Math.random() * 40) + 100;
              var hits = Math.round(Math.random() * 80) + 500;
              var views = Math.round(Math.random() * 600);

              chartData.push({
                  date: newDate,
                  visits: visits,
                  hits: hits,
                  views: views
              });
          } */

    return $.when(promise).done(function(){
      console.log('both tasks in function1 are done');
      return chartData;
      // Asyncs tasks are done
    }).promise();

    return chartData;
  }

  function zoomChart(){
    chart.zoomToIndexes(chart.dataProvider.length - 20, chart.dataProvider.length - 1);
  }

  function clickGraph(e)
  {
    var i = e.chart.chartCursor.index;
    console.log(chart.categoryAxis.data[i].dataContext.month);
  }

  function clickGraphItem(e)
  {
    var i = chart.chartCursor.index;
    var clickedDate = chart.categoryAxis.data[i].dataContext.month;
    var clickedDate2 = chart.categoryAxis.data[i].dataContext.date;
    var category = clickedDate2.replace("<br>", " ").toLowerCase();
    //var clickedDate = e.item.serialDataItem.dataContext.date;

    console.log("CLICK: " + "/api/nutrition/"+id+"@ostosdata.oulu.fi/date/" + clickedDate + "/fat");

    $.getJSON( "/api/nutrition/"+id+"@ostosdata.oulu.fi/date/" + clickedDate + "/fiber", function( data ) {
      var items = [];

      // fat
      $.each( sortJsonField(data, "fat"), function( index, elem ) {
        if(elem.fat > 0)
          items.push( "<tr><td class='"+elem.category+"'>" + elem.category + "</td>" +
                     "<td style='text-align:right' class='"+elem.fat+"'>" + elem.fat + "&nbsp;g</td>" +
                     "</tr>" );
      });

      $("#panel1").empty();

      $( "<p>Rasvaisimmat ostokset ("+category+"):</p>" ).appendTo("#panel1");
      $( "<table/>", {
        "class": "table",
        html: items.join( "" )
      }).appendTo( "#panel1" );

      // fat_saturated
      items = [];
      $.each( sortJsonField(data, "fat_saturated"), function( index, elem ) {
        if(elem.fat_saturated > 0)
          items.push( "<tr><td class='"+elem.category+"'>" + elem.category + "</td>" +
                     "<td style='text-align:right' class='"+elem.fat+"'>" + elem.fat_saturated + "&nbsp;g</td>" +
                     "</tr>" );
      });

      $( "<p style='color:#c00'>Huonoa rasvaa:</p>" ).appendTo("#panel1");
      $( "<table/>", {
        "class": "table",
        html: items.join( "" )
      }).appendTo( "#panel1" );

      // carb
      items = [];
      $.each( sortJsonField(data, "carb"), function( index, elem ) {
        if(elem.carb > 0)
          items.push( "<tr><td class='"+elem.category+"'>" + elem.category + "</td>" +
                     "<td style='text-align:right' class='"+elem.carb+"'>" + elem.carb + "&nbsp;g</td>" +
                     "</tr>" );
      });

      $("#panel2").empty();

      $( "<p>Eniten hiilihydraatteja ("+category+"):</p>" ).appendTo("#panel2");
      $( "<table/>", {
        "class": "table",
        html: items.join( "" )
      }).appendTo( "#panel2" );

      // fiber
      items = [];
      $.each( sortJsonField(data, "fiber"), function( index, elem ) {
        if(elem.fiber > 0)
          items.push( "<tr><td class='"+elem.category+"'>" + elem.category + "</td>" +
                     "<td style='text-align:right' class='"+elem.fiber+"'>" + elem.fiber + "&nbsp;g</td>" +
                     "</tr>" );
      });

      $("#panel3").empty();

      $( "<p>Eniten kuituja ("+category+"):</p>" ).appendTo("#panel3");
      $( "<table/>", {
        "class": "table",
        html: items.join( "" )
      }).appendTo( "#panel3" );

      // prot
      items = [];
      $.each( sortJsonField(data, "prot"), function( index, elem ) {
        if(elem.prot > 0)
          items.push( "<tr><td class='"+elem.category+"'>" + elem.category + "</td>" +
                     "<td style='text-align:right' class='"+elem.prot+"'>" + elem.prot + "&nbsp;g</td>" +
                     "</tr>" );
      });

      $( "<p style='color:#2f4074'>Eniten proteiineja:</p>" ).appendTo("#panel3");
      $( "<table/>", {
        "class": "table",
        html: items.join( "" )
      }).appendTo( "#panel3" );

      // sugar
      items = [];
      $.each( sortJsonField(data, "sugar"), function( index, elem ) {
        if(elem.sugar > 0)
          items.push( "<tr><td class='"+elem.category+"'>" + elem.category + "</td>" +
                     "<td style='text-align:right' class='"+elem.sugar+"'>" + elem.sugar + "&nbsp;g</td>" +
                     "</tr>" );
      });

      $("#panel4").empty();

      $( "<p>Sokerisimmat ("+category+"):</p>" ).appendTo("#panel4");
      $( "<table/>", {
        "class": "table",
        html: items.join( "" )
      }).appendTo( "#panel4" );

      // price
      items = [];
      $.each( sortJsonField(data, "price"), function( index, elem ) {
        if(elem.price > 0)
          items.push( "<tr><td class='"+elem.category+"'>" + elem.category + "</td>" +
                     "<td style='text-align:right' class='"+elem.price+"'>" + elem.price + "&nbsp;€</td>" +
                     "</tr>" );
      });

      $("#panel5").empty();

      $( "<p>Hintavimmat ("+category+"):</p>" ).appendTo("#panel5");
      $( "<table/>", {
        "class": "table",
        html: items.join( "" )
      }).appendTo( "#panel5" );

      $( "<a/>" , { html: ">> Näytä kaikki" }).on("click", function () { $("#info tr").show(); $(this).hide(); }).appendTo("#panel5");

      $("#info tr").hide();
      $("#info tr:nth-child(-n+5)").show();

    });
  }

  $.date = function(dateObject) {
    var d = new Date(dateObject);
    var day = d.getDate();
    var month = d.getMonth() + 1;
    var year = d.getFullYear();
    var date = day + "." + month + "." + year;

    return date;
  };

  function sortJsonField(json, field) {
    json.sort(function (a,b) {
      return a[field] > b[field] ? -1 : 1;
    });
    return json;
  }

  $(document).ready(function() {
    setTimeout(function(){
      $( "a:contains('JS chart')" ).fadeOut();
    }, 400);
  } );

</script>

{% endblock %}
