body {
	height: 100%;
	padding-top: 70px;
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: #eaeaea;
	/* width: 550px; */
	margin: 0 auto;
}

h1 {
  font-family: "Open Sans";
  font-size: 25px;
  margin: 0 0 20px 0;
}

h1 img {
  margin-right: 15px;
  width: 40px;
}

.load {
  background: white;
  width: 800px;
  padding-top: 30px;
	padding-bottom: 10px;
  margin-bottom: 30px;
}

.load p
{
  padding: 5px 30px;
}

.load a
{
 font-weight: bold;
}

a[href^="https://"]:after {
  content: url(http://upload.wikimedia.org/wikipedia/commons/6/64/Icon_External_Link.png);
  margin: 0 0 0 5px;
}

.ident {
  padding: 0 30px 0 30px;
}

.purchases {
  background: white;
  padding: 2em;
}
.files {
}
ul {
	list-style: none;
}

ul.messages li, ul.files li {
	position: relative;
	font-size: 16px;
	padding: 5px;
	border-bottom: 1px dotted #ccc;
}

td.image {
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 40px 40px;
  padding-left: 50px !important;
}

li img {
  width: 80px;
  height: 60px;
  margin: 0 10px 10px 0;
  display: block;
  float: left;
  border: 1px solid #ddd;
}

li img:hover {
  border: 2px solid #aaf;
  margin: -1px 9px 9px -1px;
  width: 82px;
  height: 62px;
}


.load li {
  overflow: auto;
}

li:last-child {
	border-bottom: none;
}

li time {
	font-size: 12px;
	padding-bottom: 20px;
}

.nav-tabs {
  padding: 0 30px;
}

form, .error {
	width: 800px;
	padding: 30px;
	position: relative;
  background: white;
}

form button {
  margin-top: 15px;
}

#chartdiv {
	width	: 100%;
	height	: 500px;
}

#chartwrapper {
  top: -10px;
  position: relative;
  //overflow:hidden;
  height:470px;
}

#infodiv, #topdiv-1, #topdiv-2 {
  font: 11px "Verdana";
  padding-left: 65px;
}

#infodiv p, #topdiv-1 p, #topdiv-2 p
{
  color: #005;
  font-weight: bold;
}


#infodiv table, #topdiv table {
  width: 100%;
}

#infodiv td, #topdiv-1 td, #topdiv-2 td, #info td {
  line-height: 10px;
  padding: 4px;
}

#infodiv td.food {
  color: green;
}

#infodiv td.other {
  color: blue;
}

#info {
  background-color: #fdfdfd;
  font: 10px "Verdana";
  padding: 30px 10px;
  margin-bottom: 200px;
  float: left;
  width: 100%;
}

#info div {
  padding-left: 15px;
}

#instructions
{
  width: 100%;
  clear: both;
}

#instructions p {
  color: black;
  font-weight: bold;
}

.panel {
  float: left;
  width: 20%;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

#panel1 p {
  color: #67b7dc;
  font-weight: bold;
  font-size: 110% !important;
}

#panel2 p {
  color: #84b761;
  font-weight: bold;
  font-size: 110% !important;
}

#panel3 p {
  color: #cc4748;
  font-weight: bold;
  font-size: 110% !important;
}

#panel4 p {
  color: #cd82ad;
  font-weight: bold;
  font-size: 110% !important;
}

#panel5 p {
  color: #aa0;
  font-weight: bold;
  font-size: 110% !important;
}

#panel5 a {
  font-weight: bold;
}

.amcharts-chart-div {
  background-color: #fdfdfd !important;
}

span.green {
  font-weight: bold;
  color: green;
}

span.red {
  font-weight: bold;
  color: red;
}

span.yellow {
  font-weight: bold;
  color: #990;
}

a.btn-xs {
  margin-bottom: 10px;
  font-size: 95% !important;
  font-weight: normal !important;
}
